@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&display=swap');
body{
    background: #1e1e1e;
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.container{
    max-width: 95%;
    padding: 0 30px;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 150px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 20px;
}
ul { list-style: none; }
.nav-button{
    display: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link.active {
    color:#1e1e1e;
    
}