@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&display=swap');
body{
    background: #1e1e1e;
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.container{
    max-width: 95%;
    padding: 0 30px;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 150px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 20px;
}
ul { list-style: none; }
.nav-button{
    display: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link.active {
    color:#1e1e1e;
    border: 1px solid white;
    background: white;
    padding: 5px;
    border-radius: 25px;
    
}
section{
    background: #1b1b1b;
    margin-top: 50px;
    text-align: center;
    padding: 16px;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
.nav-list-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    font-size: 24px;
}
.nav-link-news{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-link-news.active {
    color:#1e1e1e;
    border: 1px solid white;
    background: white;
    padding: 5px;
    border-radius: 25px;
    
}
div.news-list{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
}
div.news-block{
    
    height: 100px;
    width: fit-content;
    margin: 5px;
}
div.news-info{
position: absolute;
   padding: 5px 25px;
   color: #1b1b1b;
   font-weight: bold;
}
div.news-logo{
    position: absolute;
    margin-left: 160px;
    margin-top: 20px;    
}
div.news-name{
    position: absolute;
    margin-top: 75px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
div.project-list{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
}
div.project-block{
    
    height: 200px;
    width: fit-content;
    margin: 5px;
}
div.project-logo{
    
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(50%, 50%)
}
div.project-name{
    position: absolute;
    margin-top: 175px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
div.link-list{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
}
div.link{
    height: 50px;
    width: 50px;
    margin: 0 5%;
}
footer{
    margin-top: 16px;
    text-align: center;
    
}
div.footer-logo{
    height: 50px;

}