@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); /*підключення шрифту*/
body{
    background: #212529;
    font-family: 'Caveat', cursive;
    color: white;
    margin: 0;
}
.container{
    max-width: 95%;
    padding: 0 30px;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 150px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 20px;
}
ul { list-style: none; }
.nav-button{
    display: none;
}
.nav-link{
    text-decoration: none;
    color: white;
}

.nav-link.active {
    color:rgb(251, 255, 0);
}
.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu .flip-card{
    display: inline-block;
    text-align: center;
}
.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
.flip-card-back {
    background-color: rgb(251, 255, 0);
    color: #212529;
    transform: rotateY(180deg);
}
.title-flip{
    margin-top: 10%;
    font-size: 40px;
    text-decoration: underline;
}
.aboute-flip{
    font-size: 25px;
}

.contacts{
    padding: 50px 0;
    text-align: center;
    background-color: rgb(251, 255, 0);
    margin: 15px 0;
}

.contacts-title{
    margin-bottom: -50px;
    font-size: 40px;
    color: #212529;
}
.contacts-content{
    color: #212529;
    font-size: 18px;
}
.contacts-button{
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    background-color: #212529;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 25px;
    
}
.btn:hover{
    cursor: pointer;
    background-color: white    ;
    color: #212529;
}
.footer{
    text-align: center;
}
.title-footer p{
margin: 0px;
}
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 17px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 2px 5px rgba(251,255,0,0.9); 
}

/*мобільна версія*/
@media screen and (max-width: 1200px){ 
    .nav-button{
    background: none;
    display: block;
    border: none;

    }
    .nav-list{
        display: none;
    }
    .nav.open .nav-list{
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #212529;
        z-index: 1;
        padding: 40px 35px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 35px;
        font-weight: 600;
        margin: 0;
    }
    .nav-button{
        position: absolute;
        z-index: 9;
        top: 40px;
        right: 20px;
    }
}